<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="student" class="com.siddu.SpringLiteralInjectionConstructor.Student">
<constructor-arg name="studentName" value="sidduBasha" type="java.lang.String"></constructor-arg>
<constructor-arg name="id" value="18" type="int"></constructor-arg>
</bean>
<bean id="s2" class="com.siddu.SpringLiteralInjectionConstructor.Student">
<constructor-arg name="studentName" value="basha" type="java.lang.String"></constructor-arg>
<constructor-arg name="id" value="36" type="int"></constructor-arg>
</bean>
<bean id="s3" class="com.siddu.SpringLiteralInjectionConstructor.Student">
<constructor-arg name="id" value="85" type="int"></constructor-arg>
</bean>
</beans>