<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
  <bean id="math" class="com.siddu.SpringLooseCoupling.MathCheat"></bean>
  <bean id="science" class="com.siddu.SpringLooseCoupling.ScienceCheat"></bean>
  <bean id="java" class="com.siddu.SpringLooseCoupling.JavaCheat"></bean>
  <bean id="student" class="com.siddu.SpringLooseCoupling.Student">
  <property name="cheat" ref="math"></property>
  </bean>
</beans>